{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-5 text-center">Hello Alex, Mélissa, Tushar</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="mt-5 text-center fs-5">Salut pour info dans ce repo il y a toutes les dépendances front d'installer de base, bootstrap, sass, yarn. J'ai mis une police par défaut changer là si vous voulez. <br>
                J'ai rajouté le fichier bash, mais inutile de le lancer pour l'instant tant qu'on à pas de migrations. <br>
                Normalement vous avez juste à faire un composer install et yarn install.    
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5 text-center">Let's get started !</h2>
        </div>
    </div>
</div>
{% endblock %}
