<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{ asset('build/images/logo.png') }}" alt="" width="100px" height="50px">
    </a>
  </div>
</nav>