{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <div class="container-fluid d-flex justify-content-center">
            <img src="{{ asset('build/images/page_login.svg')}}" alt="groupe de personnes">
    </div>

{% endblock %}
