* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.layout-full {
    padding: 65px;
}

.round-container {
    border-radius: 74px;
    
}

.card-title {
    background-color: #FFFFFF;
    opacity: 0.8;
    margin-top: 80%;
}
 .card-agencies:hover {
    transform:scale(1.1);
    box-shadow: 5px 6px 6px 2px #e9ecef;
 }

 .card-agencies {
    transition:.2s;
    transform-origin:center;
    border-radius: 74px;
 }
.rounded-box {
    border-radius: 21px;
    
}

.trombi {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(123, 116, 116);
}

.name-teammate{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(123, 116, 116);
}

.janika {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(123, 116, 116);
    object-fit:cover;
}
