@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "global";
@import "login";
@import "home";

